__pycache__/
*.pytest_cache/
*.pyc
*.pyo
.env
.venv/
venv/
*.egg-info/
dist/
build/
target/
*.jar
.idea/
.vscode/
*.iml
.DS_Store

# flink folders
flink-checkpoints/
flink-savepoints/

# simulator folders
simulator/data/
simulator/logs/
simulator/results/
simulator/tmp/
simulator/tmp/
